body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1296px;
}

.chat-button {
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 2000;

    width: 64px;
    height: 64px;
    background-image: url('../img/chat_icon.png');
    background-repeat: no-repeat;
    background-color: #10BBD5;
    background-position: center;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.header {
    position: sticky;
    top: 0;
    z-index: 99999;
}

.header-up {
    background: #10BBD5;
    height: 100%;
}

.header-down {
    background-color: #fff;   
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner--up {
    padding: 16px 0;
}

.header__inner--down {
    padding: 4px 0;
}

.header__logo {
    background-image: url('../img/logo_book.svg');
    background-repeat: no-repeat;
}

.logo__title {
    position: relative;
    left: 26px;

    color: #F8FDFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cart {
    display: flex;
    align-items: center;
    gap: 8px;
}

.total-price {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__item a {
    color: #000;
    font-weight: 400;
    line-height: 24px;
    transition: 0.35s;
}

.nav__item a:hover {
    color: #10BBD5;
}

.header-down__title {
    color: #000;
    font-weight: 400;
    line-height: 24px;
}

.main {
    background: #EEEEEF;
}

.catalog__title:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background: #A8A8A8;
    width: 100%;
    bottom: 0;
}

.catalog__title {
    padding: 32px 0 23px;
    position: relative;

    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.product {

}

.product__list {
    padding: 24px 0 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 32px 18px;
}


.product__item {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #fff;
    height: 512px;
    min-width: 306px;
    position: relative;
}

.product__badge {
    position: absolute;
    top: 32px;
    left: 32px;
}

.product__badge span {
    padding: 4px 8px;
    border-radius: 4px;

    color: #F8FDFE;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
}

.product__badge--violent {
    background-color: #AF39E7;
}
.product__badge--blue {
    background-color: #4200FF;
}
.product__badge--pink {
    background-color: #EA33C0;
}

.product__img {
    display: block;
    height: 280px;
    width: auto;
    margin: 0 auto;
}

.product__title {
    color:#1F1F1F;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 242px;
}

.product__author {
    color:#8E8E8E;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 242px;
    border-top: 1px solid #A8A8A8;
}

.product__price {
    margin-top: 8px;
    display: flex;
    gap: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.product__price_current {
    color: #E90000;

}

.product__price_old {
    color: #8E8E8E;
    text-decoration: line-through;
}

.btn {
    padding: 8px 24px;
    color:#F8FDFE;
    text-align: center;
    line-height: 24px;
    border-radius: 4px;
    transition: all 0.35s;
    border: none;
    cursor: pointer;
}

.btn--cart {
    height: 40px;
    width: 40px;
    background-image: url("../img/cart_icons.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.cart-counter {
    position: absolute;
    top: 9px;
    left: 16px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
}

.btn-primary {
    background-color: #4C394E;
}

.btn-primary:hover {
    background-color: #744978;
}

.btn-secondary {
    background-color: #4D762D;
}

.btn-secondary:hover {
    background-color: #6DB236;
}

.footer {
    padding: 24px 0;
    background-color: #4C394E;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    color:#F8FDFE;
    font-weight: 400;
    line-height: 24px;
}